{% extends "base.html" %}

{% block content %}
            <div class="row">
                <h6>Witam</h6>

                <div class="large-12 columns">
                    <p>Kliknij w onośnik na górze strony by poznac newsy z danych stron</p>
                </div>
            </div>
            <br/>


{% endblock %}