{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h3>Pomoc:</h3>
        <p>-Słowa oddzielaj spacjami np "janek marysia"</p>
        <p>-Małe i duże litery nie mają znaczenia</p>
        <p>-Przykład wyrażenia " +janek jacek marysia"</p>
    </div>
    <form action="{% url 'wyszukaj' %}" method="POST" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <div class="row">
            <div style="max-width: 400px">
                <textarea style="min-height: 100px;" required="required" rows="20" name="slowo" class="max-width" placeholder="wyrazenie..."></textarea></br>
            </div>
        </div>
        <div class="row">
            <button id="find" type="submit" class="btn">Szukaj</button>
        </div>
    </form>

{% endblock %}