<head>
    <meta charset="utf-8"/>
    <title>News</title>
    <link href="/static/css/foundation.css" rel="stylesheet" media="screen">
    <link href="/static/css/normalize.css" rel="stylesheet" media="screen">

</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="{% url 'home' %}" class="button">Home</a></li>
                <li><a href="{% url 'onet' %}" class="button">Onet</a></li>
                <li><a href="{% url 'interia' %}" class="button">Interia</a></li>
                <li><a href="{% url 'wp' %}" class="button">WP</a></li>
                <li><a href="{% url 'wyszukaj' %}" class="button">Wyszukaj</a></li>
            </ul>
        </div>
        <h2>News</h2>

        <hr />
    </div>
</div>
<div class="content" role="content">
    {% block content %}{% endblock %}

</div>

</body>